.login {
    opacity: 1;
    pointer-events: none;
    z-index: 11111111;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(3px);

    &--open {
        opacity: 1;
        pointer-events: auto;
        z-index: 100000000;
    }

    &__form {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 400px;
        height: auto;
        padding: 20px 10px;
        padding-bottom: 50px;
        background: #ffffff;
        border-radius: 20px;
        transition: all 0.3s;
        transform: scale(1);
        pointer-events: auto;
    }

    &__logo {
        margin-bottom: 20px;
    }

    &__title {
        font-weight: 300;
        font-size: 25px;
        font-weight: 600;
        line-height: normal;
        color: #00B288;
        margin-bottom: 20px;
    }

    &__input {
        padding: 20px;
        width: 270px;
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 20px;
        border-radius: 5px;
        outline: none;
        border: 1px solid rgba(128, 128, 128, 0.7);
        transition: all 1s ease;

        &:focus {
            border: 1px solid #00B288;
        }
    }

    &__btn {
        padding: 20px 0;
        width: 270px;
        font-size: 18px;
        font-weight: 600;
        color: #fff;
        border: none;
        border-radius: 10px;
        background-color: #00B288;
        cursor: pointer;
        transition: all 0.5s ease;

        &:hover {
            opacity: 0.8;
        }

        &:active {
            opacity: 0.6;
        }
    }
}